boto3==1.34.119
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.4
jupyter==1.0.0
kneed==0.8.5
pip-chill==1.0.3
plotly==5.22.0
python-dotenv==1.0.1
scikit-learn==1.5.0
seaborn==0.13.2
uri-template==1.3.0
webcolors==1.13
xgboost==2.0.3